---
- name: Update apt cache
  apt:
    update_cache: yes
  become: yes
  tags:
    - jenkins_worker

- name: Install required packages
  apt:
    name:
      - openjdk-17-jdk
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
  become: yes
  tags:
    - jenkins_worker

- name: Add ubuntu user to docker group
  user:
    name: ubuntu
    groups: docker
    append: yes
  become: yes
  tags:
    - jenkins_worker

- name: Create Jenkins agent directory
  file:
    path: /home/ubuntu/jenkins-agent
    state: directory
    owner: ubuntu
    group: ubuntu
    mode: '0755'
  become: yes
  tags:
    - jenkins_worker
