- name: Update apt cache
  apt:
    update_cache: yes
  become: yes

- name: Install common packages
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - unzip
    state: present
  become: yes
