---
- name: Common setup on Jenkins nodes
  hosts: jenkins_nodes
  become: yes
  roles:
    - role: common
      tags: common

- name: Install Jenkins Master
  hosts: jenkins_master
  become: yes
  roles:
    - role: docker
      tags: docker
    - role: jenkins_master
      tags: jenkins_master
    - role: jenkins_plugins
      tags: jenkins_plugins

- name: Install Jenkins Worker
  hosts: jenkins_worker
  become: yes
  roles:
    - role: docker
      tags: docker
    - role: jenkins_worker
      tags: jenkins_worker
